<div class="modal fade" id="certificatesModal" tabindex="-1" aria-labelledby="certificatesModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="certificatesModalLabel">{{ 'Certificates' | translate }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li *ngFor="let certificate of certificateTypes; let i = index" class="list-group-item d-flex justify-content-between align-items-center">
            {{ certificate.name }} - {{ certificate.desc }}
            <button class="btn btn-danger btn-sm" (click)="deleteCertificateType(i)">{{ 'Delete' | translate }}</button>
          </li>
        </ul>
        <form (ngSubmit)="addCertificateType()" class="mt-3">
          <div class="mb-3">
            <label for="certificateName" class="form-label">{{ 'Certificate Name' | translate }}</label>
            <input type="text" class="form-control" id="certificateName" [(ngModel)]="newCertificateType.name" name="certificateName" required>
          </div>
          <div class="mb-3">
            <label for="certificateDesc" class="form-label">{{ 'Certificate Description' | translate }}</label>
            <input type="text" class="form-control" id="certificateDesc" [(ngModel)]="newCertificateType.desc" name="certificateDesc" required>
          </div>
          <button type="submit" class="btn btn-primary">{{ 'Add Certificate' | translate }}</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'Close' | translate }}</button>
      </div>
    </div>
  </div>
</div>